.container {
  max-width: 50%;
  margin: 0 auto;

  h1 {
    text-align: center;
  }
  
  table {
    width: 100%;
  }

  .mat-column-action {
    width: 100px;
  }

  .mat-column-name {
    width: 200px;
  }

  .mat-column-code {
    width: 50px;
  }
}